---
import Layout from '../layouts/Layout.astro';
import DateTime from '../components/DateTime.astro';
import SearchBar from '../components/SearchBar.astro';
---

<Layout>
  <main>
    <DateTime />
    <SearchBar />
  </main>
</Layout>

<style>
  main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: var(--spacing-md);
  }
</style>
