---
import { keywords } from '../keywords';
import { REDIRECT_URL } from '../config';
---

<div id="autocomplete" class="autocomplete">
  <input
    class="autocomplete-input"
    type="text"
    placeholder="Search here or type a URL"
    role="combobox"
    aria-haspopup="listbox"
    aria-expanded="false"
    aria-autocomplete="list"
    aria-controls="autocomplete-result-list"
    tabindex="0"
  />
  <ul id="autocomplete-result-list" class="autocomplete-result-list" role="listbox"></ul>
</div>

<script is:inline src="/node_modules/@trevoreyre/autocomplete-js/dist/autocomplete.min.js"></script>
<script is:inline define:vars={{ keywords, REDIRECT_URL }}>
  new Autocomplete('#autocomplete', {
    search: (query) => {
      return keywords
        .filter((word) => word.toLowerCase().startsWith(query.toLowerCase()))
        .slice(0, 8);
    },
    onSubmit: (rawQuery) => {
      if (!rawQuery || !rawQuery.trim || !rawQuery.trim().length) {
        return;
      }

      const query = encodeURIComponent(rawQuery);
      const searchUrl = `${REDIRECT_URL}?p=${query}`;

      window.open(searchUrl, '_blank');
    },
  });
</script>
<style is:global>
  .autocomplete {
    max-width: 620px;
    width: 90vw;
    margin: var(--spacing-lg) auto;
  }
  .autocomplete-input {
    background-color: var(--color-background-transparent);
    background-image: url('/favicon.png');
    background-size: 28px;
    background-position: 12px;
    background-repeat: no-repeat;
    border: 0.05rem solid var(--color-primary-transparent);
    border-radius: var(--border-radius-lg);
    box-sizing: border-box;
    flex: 1;
    font-size: var(--font-size-base);
    line-height: 1.5;
    padding: 12px 12px 12px 48px;
    position: relative;
    width: 100%;
    color: var(--color-primary-transparent);
    height: 3rem;
    max-width: 620px;
    transition: all 0.4s ease;
    caret-color: var(--color-primary);
  }

  .dark-theme .autocomplete-input {
    background-color: var(--color-background-transparent-dark);
    color: var(--color-text-dark);
    border-color: var(--color-border-dark);
  }

  .autocomplete-input:focus,
  .autocomplete-input[aria-expanded='true'] {
    background-color: var(--color-background-transparent);
    border-color: var(--color-primary);
    box-shadow: 0 2px 2px var(--color-shadow);
    outline: none;
    color: var(--color-primary);
  }

  .dark-theme .autocomplete-input:focus,
  .dark-theme .autocomplete-input[aria-expanded='true'] {
    color: var(--color-text-dark);
  }

  [data-position='below'] .autocomplete-input[aria-expanded='true'] {
    border-bottom-color: transparent;
  }

  [data-position='above'] .autocomplete-input[aria-expanded='true'] {
    border-top-color: transparent;
    z-index: 2;
  }

  .autocomplete[data-loading='true']:after {
    animation: rotate 1s linear infinite;
    border: 3px solid var(--color-primary-transparent);
    border-radius: 100%;
    border-right-color: var(--color-primary);
    content: '';
    height: 20px;
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
  }

  .autocomplete-result-list {
    background: var(--color-background-transparent);
    border: 1px solid var(--color-border);
    box-shadow: 0 2px 2px var(--color-shadow);
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    max-height: 296px;
    overflow-y: auto;
    padding: 0;
    border-radius: var(--border-radius-md);
    backdrop-filter: blur(4px);
    transition: opacity 0.15s ease-in-out;
  }

  .dark-theme .autocomplete-result-list {
    background-color: var(--color-background-transparent-dark);
    box-shadow: 0 3px 6px var(--color-shadow-dark);
  }

  [data-position='below'] .autocomplete-result-list {
    border-top-color: transparent;
    margin-top: -1px;
    padding-bottom: var(--spacing-sm);
  }

  [data-position='above'] .autocomplete-result-list {
    border-bottom-color: transparent;
    border-radius: var(--border-radius-lg) var(--border-radius-lg) 0 0;
    margin-bottom: -1px;
    padding-top: var(--spacing-sm);
  }

  .autocomplete-result {
    cursor: default;
    padding: var(--spacing-xs) var(--spacing-sm) var(--spacing-xs) 48px;
    margin: var(--spacing-xs);
    text-align: left;
    font-size: var(--font-size-base);
    color: var(--color-text);
    border-radius: var(--border-radius-sm);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all 0.2s ease;
  }

  .dark-theme .autocomplete-result {
    color: var(--color-text-dark);
  }

  .autocomplete-result:hover,
  .autocomplete-result[aria-selected='true'] {
    background-color: var(--color-primary-light);
  }

  @keyframes rotate {
    0% {
      transform: translateY(-50%) rotate(0deg);
    }
    to {
      transform: translateY(-50%) rotate(359deg);
    }
  }

  @media only screen and (max-width: 600px) {
    .autocomplete-input {
      width: 90vw;
    }
  }
</style>
