<!doctype html>
<html lang="en" class="dark-theme">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Transform your new tab into a sleek dashboard with a search bar and elegant UI for an enhanced browsing experience."
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>TabSpark</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  @import './variables.css';
  @import './base.css';
</style>
